<ion-header collapse="fade">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" color="primary" (click)="cancel()">
        Cancel
      </ion-button>
    </ion-buttons>
    <ion-title>New List</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" [color]="form.invalid ? 'medium' : 'primary'" [disabled]="form.invalid" [strong]="true"
        (click)="onSubmit()">
        Add
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment value="new-list" (ionChange)="onListTypeChanged($event)">
      <ion-segment-button value="new-list"> New List </ion-segment-button>
      <ion-segment-button value="templates"> Templates </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ng-container *ngIf="activeSegment === 'new-list'; then newListForm; else templateList"></ng-container>
</ion-content>

<ng-template #templateList>
  <app-template-list></app-template-list>
</ng-template>

<ng-template #newListForm>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-card>
      <div class="form-section">
        <app-icon-preview [icon]="form.get('icon')?.value" [color]="form.get('color')?.value"
          size="large"></app-icon-preview>
        <ion-input #nameInput class="ion-text-center input-name" placeholder="List Name" aria-label="List Name"
          formControlName="name" [clearInput]="true" [ngStyle]="{
            '--color': 'var(--color-' + form.get('color')?.value + ')'
          }"></ion-input>
      </div>
    </ion-card>

    <ion-card>
      <ion-list lines="none">
        <ion-item id="select-filter" [button]="true">
          <div class="select-filter-icon" slot="start">
            <ion-icon name="filter"></ion-icon>
          </div>
          <ion-label>
            <h2>Make into Smart List</h2>
            <p>Organize using tags and other filters</p>
          </ion-label>
        </ion-item>

        <ion-modal #selectFilterModal trigger="select-filter" [presentingElement]="presentingElement">
          <ng-template>
            <app-select-filter class="ion-page" (didCancel)="selectFilterModal.dismiss()"></app-select-filter>
          </ng-template>
        </ion-modal>
      </ion-list>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <app-color-picker formControlName="color"></app-color-picker>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <app-icon-picker formControlName="icon"></app-icon-picker>
      </ion-card-content>
    </ion-card>
  </form>
</ng-template>
