<ion-header collapse="fade">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button id="more" fill="clear" color="primary">
        <ion-icon slot="icon-only" name="ellipsis-horizontal-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar></ion-searchbar>
</ion-content>

<ion-footer collapse="fade">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button
        id="open-new-reminder"
        fill="clear"
        color="primary"
        [strong]="true"
      >
        <ion-icon slot="start" name="add-circle"></ion-icon>
        New Reminder
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button id="open-new-list" fill="clear" color="primary">
        Add List
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

<ion-popover #morePopover trigger="more" [keepContentsMounted]="true">
  <ng-template>
    <ion-content>
      <ion-list lines="full">
        <ion-item [button]="true" [detail]="false">
          <ion-label>Edit Lists</ion-label>
          <ion-icon slot="end" name="pencil" size="small"></ion-icon>
        </ion-item>
        <ion-item
          id="open-templates"
          [button]="true"
          [detail]="false"
          (click)="morePopover.dismiss()"
        >
          <ion-label>Templates</ion-label>
          <ion-icon slot="end" name="copy-outline" size="small"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>

<ion-modal
  #templateModal
  trigger="open-templates"
  [presentingElement]="presentingElement"
>
  <ng-template>
    <ion-header collapse="fade">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button fill="clear" color="medium" [disabled]="true">
            Edit
          </ion-button>
        </ion-buttons>
        <ion-title>Templates</ion-title>
        <ion-buttons slot="end">
          <ion-button
            fill="clear"
            color="primary"
            (click)="templateModal.dismiss()"
          >
            Done
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <app-template-list></app-template-list>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal
  #newReminderModal
  trigger="open-new-reminder"
  [presentingElement]="presentingElement"
>
  <ng-template>
    <app-new-reminder
      class="ion-page"
      (didCancel)="newReminderModal.dismiss()"
    ></app-new-reminder>
  </ng-template>
</ion-modal>

<ion-modal
  #newListModal
  class="new-list-modal"
  [class.segment-list]="newListSegment === 'new-list'"
  [class.segment-templates]="newListSegment === 'templates'"
  trigger="open-new-list"
  [presentingElement]="presentingElement"
  [canDismiss]="canDismissNewList"
  (didPresent)="newList.focusListName()"
>
  <ng-template>
    <app-new-list
      #newList
      class="ion-page"
      (didCancel)="newListModal.dismiss()"
      (statusChange)="onNewListStatusChange($event)"
      (segmentChange)="onNewListSegmentChange($event)"
    ></app-new-list>
  </ng-template>
</ion-modal>
