<ion-header collapse="fade">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button id="more" fill="clear" color="primary">
        <ion-icon slot="icon-only" name="ellipsis-horizontal-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar></ion-searchbar>
</ion-content>

<ion-popover #morePopover trigger="more" [keepContentsMounted]="true">
  <ng-template>
    <ion-content>
      <ion-list lines="full">
        <ion-item [button]="true" [detail]="false">
          <ion-label>Edit Lists</ion-label>
          <ion-icon slot="end" name="pencil" size="small"></ion-icon>
        </ion-item>
        <ion-item id="open-templates" [button]="true" [detail]="false" (click)="morePopover.dismiss()">
          <ion-label>Templates</ion-label>
          <ion-icon slot="end" name="copy-outline" size="small"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>

<ion-modal #templateModal trigger="open-templates" [presentingElement]="templateModalPresentingElement">
  <ng-template>
    <ion-header collapse="fade">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button fill="clear" color="medium" [disabled]="true">
            Edit
          </ion-button>
        </ion-buttons>
        <ion-title>Templates</ion-title>
        <ion-buttons slot="end">
          <ion-button fill="clear" color="primary" (click)="templateModal.dismiss()">
            Done
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="ion-flex ion-flex-column ion-justify-content-center ion-align-items-center ion-text-center h-full">
        <ion-icon name="copy-outline" size="large" color="medium"></ion-icon>
        <ion-text>
          <h3 class="fw-600">No Templates</h3>
        </ion-text>
        <ion-text class="template-description" color="medium">
          You can create templates from lists by tapping <ion-icon name="ellipsis-horizontal-circle"></ion-icon>
          inside
          a list and choosing Save as Template.
        </ion-text>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
