.icon-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.icon-option {
  width: 32px;
  height: 32px;

  min-width: 32px;

  border-radius: 50%;

  background: #f4f3f4;

  font-size: 18px;

  cursor: pointer;
}

.icon-option.active {
  outline: 2px solid #c5c5c7;
  outline-offset: 2px;
}
